/* Body and General Styles */
body {
    background-color: #e9d9ca; /* Light beige background */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 100;
}

h1, h2, h3 {
    margin: 0;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

p {
    margin: 10px 0;
    color: #333;
}

/* Header Styles */
header {
    background-color: #eef0f3; /* Blue navbar background */
    color: white;
    padding: 20px;
}

.header-container {
    display: flex;
    justify-content: space-between; /* Space between the two sides */
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.header-container h1 {
    margin: 0;
    font-size: 28px;
    
}

nav {
    display: flex;
    gap: 20px; /* Even spacing between links */
}

header nav {
    text-align: right;
}

header nav a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

header nav a:hover {
    color: blue;
}

nav a:hover {
    color: #ffcc00; /* Yellow on hover */
}

/* Experience and Skillset Layout */
.experience {
    margin: 50px;
}

.experience-item {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
    border-radius: 0px;
    margin-bottom: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    limit max-width: border: ;
}
  
.box {
    width: 735px;
}

.left-column {
    width: 40%; /* Left side taking 40% */
}

.right-column {
    width: 55%; /* Right side taking 55% */
}

.blue-text {
    color: #0056FF; /* Bright blue for the date */
    font-weight: bold;
}

/* Button Style */
button {
    background-color: #0056FF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

button:hover {
    background-color: #0041cc;
}

/* Footer Styles */
footer {
    text-align: center;
    background-color: #f5f5f5;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contact-info {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 500px;
}

.social-footer a {
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

.social-footer a:hover {
    color: blue;
}

footer p {
    font-size: 12px;
    color: gray;
}

footer p strong {
    color: #202020;
}